.brand {
    font-weight: bold;
    color: #272573;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, .nav-link:hover, .btn-like:hover, .card-title:hover, .see-all:hover {
    color: #272573;
    font-weight: bold;
}

.btn {
    color: #272573;
    border-color: #272573;
}

.btn:hover {
    color: white;
    background-color: #272573;
    border-color: #272573;
}

.sign-in, .github-link {
    text-decoration: underline;
    color: #272573;
}

.card {
    border-color: #272573;
}

.category {
    min-height: 200px;
}

.category-title {
    margin: 0;
    text-align: center;
}

.btn-like {
    background: transparent;
    border: none;
}

.hidden {
    display: none;
}

.new-workout button, .fake-button {
    margin-top: 1rem;
}

.bg-primary-subtle {
    padding: 1rem;
    border-radius: 2rem;
}

.comments {
    padding-top: 1rem;
}