{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container bg-primary-subtle">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2" id="form-container">
            <form method="POST" class="new-workout">
                {% csrf_token %}
                <h2>Are you sure you want to delete the workout "{{ workout.name }}"?</h2>
                <button type="submit" class="btn btn-outline-primary">Delete</button>
                <a href="{% url 'home' %}" class="btn btn-outline-primary fake-button">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}