{% extends "base.html" %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

<div class="container bg-primary-subtle">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2" id="form-container">
            <h2>Edit workout:</h2>
            <form method="POST" class="new-workout" enctype="multipart/form-data">
                {% csrf_token %}
                {{ workout_form | crispy }}
                {{ exercise_formset.management_form }}
                <div id="exercises" class="col-md-12">
                    {% for exercise in exercise_formset %}
                    <div class="exercise-form mt-3">
                        <p><strong>Exercise {{ forloop.counter }}</strong></p>
                        {{ exercise | crispy }}
                    </div>
                    {% endfor %}
                </div>

                <div id="empty-form" class="hidden">
                    {{ exercise_formset.empty_form | crispy }}
                </div>
                <button type="button" id="add-form" class="btn btn-outline-primary add-form">Add exercise</button>
                <br>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/add_form.js' %}"></script>

{% endblock content %}