{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <h2>Recently added workouts</h2>

        <!-- Recently added workouts column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for workout in Workout %}
                <div class="col-md-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in workout.image.url %}
                                <img class="card-img-top" src=" {{ workout.category.image.url }}"
                                    style="height: 30vh; object-fit: cover;">
                                {% else %}
                                <img class="card-img-top" src=" {{ workout.image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Created by: {{ workout.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'workout_detail' workout.slug %}" class="post-link">
                                <h2 class="card-title">{{ workout.name }}</h2>
                            </a>
                            <p class="card-text">{{ workout.category }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ workout.created_on}} <i
                                    class="fa-solid fa-download"></i>
                                {{ workout.number_of_saves }} <i
                                    class="fa-solid fa-check"></i>{{ workout.number_of_completed }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-md-3" style="align-self: center;">
                    <a href="{% url 'workouts' %}"><h3>See all workouts >></h3></a>
                </div>
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Category page navigation -->
    <nav>
        <div class="col-12 mt-3 left">
            <div class="row">
                <h2>Browse by category</h2>
                {% for category in Category %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{% url 'category' category.slug %}" class="page-link">
                            <h2 class="card-title category-title">
                                {{ category.name }} workouts</h2>
                        </a>
                        <div class="card-body"
                            style="background-image: url('{{ category.image.url }}'); background-position: top; padding: 0;">
                            <div class="overlay" style="background-color: {{ category.color }}; opacity: 0.5; height: 200px;"></div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>

</div>
{%endblock%}