{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Page heading - varies based on url name -->
        {% if request.resolver_match.url_name == "category" %}
        <h2>{{ workout_list.0.category }} workouts</h2>
        {% elif request.resolver_match.url_name == "saved_workouts" %}
        <h2>Saved workouts</h2>
        {% elif request.resolver_match.url_name == "completed_workouts" %}
        <h2>Completed workouts</h2>
        {% elif request.resolver_match.url_name == "search_workouts" %}
        <h2>Search results</h2>
        {% else %}
        <h2>All workouts</h2>
        {% endif %}

        <!-- Workouts column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for workout in workout_list %}
                <div class="col-md-4">
                    <div class="card mb-4 h-100">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in workout.image.url %}
                                <img class="card-img-top" alt="workout image" src="{{ workout.category.image.url }}"
                                    style="height: 30vh; object-fit: cover;">
                                {% else %}
                                <img class="card-img-top" alt="workout image" src="{{ workout.image.url }}"
                                    style="height: 30vh; object-fit: cover;">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Created by: {{ workout.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'workout_detail' workout.slug %}">
                                <h3 class="card-title">{{ workout.name }}</h3>
                            </a>
                            <p class="card-text">{{ workout.category }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ workout.created_on}} <i
                                    class="fa-solid fa-download"></i>{{ workout.number_of_saves }} <i
                                    class="fa-solid fa-check"></i>{{ workout.number_of_completed }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <h3>No workouts found</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary fake-button">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary fake-button"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}