{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container bg-primary-subtle">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    <h2>{{ workout.name }}</h2>
                    <h5>Created by {{ workout.author }}</h5>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>{{ workout.created_on}}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="text-end"><i class="fa-solid fa-download"></i> {{ workout.number_of_saves }} <i
                                class="fa-solid fa-check"></i> {{ workout.number_of_completed }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    {% if "placeholder" in workout.image.url %}
                    <img class="card-img-top" src=" {{ workout.category.image.url }}"
                        style="height: 30vh; object-fit: cover;">
                    {% else %}
                    <img class="card-img-top" src=" {{ workout.image.url }}">
                    {% endif %}
                    {% if user.is_authenticated %}
                <form action="{% url 'workout_save' workout.slug %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if saved %}
                    <button type="submit" name="workout_id" value="{{ workout.slug }}" class="btn-like liked"><i
                            class="fa-solid fa-download"></i> Saved</button>
                    {% else %}
                    <button type="submit" name="workout_id" value="{{ workout.slug }}" class="btn-like"><i
                            class="fa-solid fa-download"></i> Save for later</button>
                    {% endif %}
                </form>
                <form action="{% url 'workout_complete' workout.slug %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    {% if completed %}
                    <button type="submit" name="workout_id" value="{{ workout.slug }}" class="btn-like liked"><i
                            class="fa-solid fa-check"></i> Completed</button>
                    {% else %}
                    <button type="submit" name="workout_id" value="{{ workout.slug }}" class="btn-like"><i
                            class="fa-solid fa-check"></i> Mark as completed</button>
                    {% endif %}
                </form>
                {% else %}
                <p><i class="fa-solid fa-download"></i> Save for later
                    <i class="fa-solid fa-check"></i> Mark as completed</p>
                {% endif %}
                </div>
                <div class="col-md-5">
                    <h4>Workout:</h4>
                    {% for exercise in workout.exercises.all %}
                    {{ forloop.counter }}. {{ exercise.name }} {{ exercise.sets }}x{{ exercise.reps }}<br>
                    {% endfor %}
                </div>
                <div class="col-md-2 text-end">
                    {% if user.is_authenticated %}
                    <a href="{% url 'edit_workout' workout.slug %}"><button type="button"
                            class="btn btn-outline-primary mt-3">Edit workout</button></a>
                    <a href="{% url 'delete_workout' workout.slug %}"><button type="button"
                            class="btn btn-outline-primary mt-3">Delete workout</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="container"> -->
    <div class="row">
        <div class="col-md-6 mt-3">
            {% with comments.count as total_comments %}
            <h5>Comments ({{ total_comments }}):</h5>
            {% endwith %}
            <div class="card-body">
                {% for comment in comments %}
                    <div class="comments">
                        <p style="margin-bottom: 0; font-size: 90%; font-style: italic;"><strong>{{ comment.user }}</strong> commented on
                                {{ comment.created_on }}:</p>
                        {{ comment.body }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h5>Leave a comment:</h5>
                <p>Posting as: {{ user.username }}</p>
                <form method="POST">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary mt-3">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock content %}